body * {
  box-sizing: border-box;
}

body {
	background-color: #e6e6e6;
	font-family: 'Bree Serif';
}

/* welcoming/instructions section styling */
.container-welcome {
	width: 100%; 
	height: 100vh;
	padding-top: 20vh;
	padding-bottom: 20vh; 
}

.header {
	text-align: center;
	font-size: 2.25em;
	padding-top: 15px;
}

.welcome {
	margin-bottom: 5px;
	margin-top: 0px;
}

.button-container {
	text-align: center;
	margin-top: 15px;
}

.start-button {
	height: 55px;
	width: 35%;
	color: white;
	background-color: #33adff;
	border: 0;
}

.instruction {
	display: block;
}