body * {
  box-sizing: border-box;
}

body {
	background-color: #e6e6e6;
	font-family: 'Bree Serif';
}

/* welcoming/instructions section styling */
.container-welcome {
	width: 100%; 
	height: 100vh;
	padding-top: 20vh;
	padding-bottom: 20vh; 
}

.header {
	text-align: center;
	font-size: 2em;
	padding-top: 15px;
}

.welcome {
	margin-bottom: 5px;
	margin-top: 0px;
}

.button-container {
	text-align: center;
	margin-top: 15px;
}

/**** note, that this button is for all of the buttons except next on the site ***/
button {
	height: 55px;
	width: 35%;
	color: white;
	background-color: #33adff;
	border: 0;
}

button:hover {
	background-color: #0047b3;
}

.instruction-list {
	list-style: none;
}

/** quiz questions css**/
.question-container {
	width: 90vw;
	border: 1px solid grey;
	background-color: white;
	margin: 0px auto;
}

.quiz-question {
	font-size: 1.5em;
}

.choices-container {
	margin-top: 10px;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

.choice-container {
	font-size: 1.5em;
	width: 90vw;
	border: 1px solid grey;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.choice-container:hover {
	background-color: #f5f5f0;
}

.quiz-choice {
	height: 15vh;
}

.letter-choice {
	display: inline-block;
	position: relative;
	top: 25%;
}

.letter::after {
	content: ".";
}